* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.4;
  background: linear-gradient(
      rgba(256, 256, 256, 0.8),
      rgba(256, 256, 256, 0.8)
    ),
    url(https://assets.codepen.io/t-1/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
  background-size: cover;
  background-position: center;
  max-width: calc(100% - 40px);
  margin: auto;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto-fill 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'title title'
      'address address'
      'hours hours'
      'coffee espresso'
      'tea bakery';
  }
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  grid-area: title;
}

h2 {
  font-size: 2rem;
}

address {
  grid-area: address;
}

.hours {
  grid-area: hours;
}

.coffee {
  grid-area: coffee;
}

.espresso {
  grid-area: espresso;
}

.tea {
  grid-area: tea;
}

.bakery {
  grid-area: bakery;
}
